In [10]:
# Instalar sql en python
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.10/site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (3.20.3)

In [14]:
# Importar librerías
import mysql.connector 
import datetime

In [15]:
# Conexión a la base de datos

cnx = mysql.connector.connect(user='root', password='example',
                              host='db',
                              database='oscars')

In [19]:
cursor = cnx.cursor()

query = ('''SELECT name, title 
         FROM directors AS d
         INNER JOIN movies AS m
         ON d.id=m.director_id''')

cursor.execute(query)

for (available) in cursor:
    print(available)

cursor.close()

('James Cameron', 'Avatar')
('Gore Verbinski', 'Pirates of the Caribbean')
('Sam Mendes', 'Spectre')
('Christopher Nolan', 'The Dark Knight Rises')

True

In [20]:
cursor = cnx.cursor()

query = ("INSERT INTO directors VALUES (5,'Greta Gerwig')")
cursor.execute(query)
         
cnx.commit()
cursor.close()

True

In [21]:
cursor = cnx.cursor()

query = ('''SELECT *
         FROM directors ''')

cursor.execute(query)

for (available) in cursor:
    print(available)

cursor.close()

(1, 'James Cameron')
(2, 'Gore Verbinski')
(3, 'Sam Mendes')
(4, 'Christopher Nolan')
(5, 'Greta Gerwig')
(5, 'Greta Gerwig')

True

In [22]:
cursor = cnx.cursor()

query = ("INSERT INTO movies VALUES (5,'Barbie', 2023-07-13, 5)")
cursor.execute(query)
         
cnx.commit()
cursor.close()

True

In [23]:
cursor = cnx.cursor()

query = ('''SELECT *
         FROM movies ''')

cursor.execute(query)

for (available) in cursor:
    print(available)

cursor.close()

(1, 'Avatar', '2009-12-10', 1)
(2, 'Pirates of the Caribbean', '2007-05-19', 2)
(3, 'Spectre', '2015-10-26', 3)
(4, 'The Dark Knight Rises', '2012-07-16', 4)
(5, 'Barbie', '2003', 5)

True